<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DsAlgo">


<listeners>

<listener class-name ="com.DsAlgoProject.utilities.Reporting"/>

</listeners>
	<test thread-count="5" name="Test1">

		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="com.DsAlgoProject.testCases.TC_DataStructure_GraphTest_001"/> -->
			<class name="com.DsAlgoProject.testCases.TC_SignInTest_001" />
			<!-- <class name="com.DsAlgoProject.testCases.BaseClass"/> -->
			<!-- <class name="com.DsAlgoProject.testCases.TC_RegisterTest_001"/> -->
			<!-- <class name="com.DsAlgoProject.testCases.TC_DataStructure_StackTest_001"/> -->
			<!-- <class name="com.DsAlgoProject.testCases.TC_DataStructure_ArraysTest_001"/> -->
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Test2">

		<parameter name="browser" value="firefox" />
		<classes>
			<!-- <class name="com.DsAlgoProject.testCases.TC_DataStructure_GraphTest_001"/> -->
			<class name="com.DsAlgoProject.testCases.TC_SignInTest_001" />
			<!-- <class name="com.DsAlgoProject.testCases.BaseClass"/> -->
			<!-- <class name="com.DsAlgoProject.testCases.TC_RegisterTest_001"/> -->
			<!-- <class name="com.DsAlgoProject.testCases.TC_DataStructure_StackTest_001"/> -->
			<!-- <class name="com.DsAlgoProject.testCases.TC_DataStructure_ArraysTest_001"/> -->
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
